Body { background:linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254) 86.8%);
}
  
  h1 {
  text-align: center;
  font-size: 35px;
  color: #27296d;
}

input {
  font-size: 20px;
  display: inline;
  padding: 3px;
  margin: 40px -50px 20px 50px;
  background-color: #2e94b9;
  border-color: #2e94b9;
  border: 1px solid#2e94b9;
  border-radius: 4px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  
  text-align: center;
  list-style: none;
  margin: 0;
  padding:0;
  color: #27296d;
}


p {
  text-align: center;
  font-size: 30px;
  color: #27296d;
  padding: 20px;
}

div {
  text-align: center;
  display: inline-flexbox;
  font-size: 25px;
}

.container {
  background: url("../img/bluesky_950x783.jpeg");
  border: solid;
  border-radius: 4px;
  display: block;
  margin: 50px 500px;
  padding: 40px;
  max-width: 900px;
}

li:first-letter {
  text-transform: capitalize;
}

.currentWeatherBox {
  max-width: 700px;
  padding: 5px 5px 15px 5px;
  margin: 15px auto;
  border: 1px solid -ms-clear;
  border-radius: 20px;
  background-color: -ms-clear;
  box-shadow: 1px 1px 1px 1px rgba(29, 28, 28, 0.582);
  color: #27296d;
  text-transform: capitalize;
}

.city {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
  color: #27296d;
}

.dayTime,
.wind,
.feels-like,
.humidity {
  font-size: 15px;
  color: #27296d;
}
.weather {
  text-align: center;
  color:#27296d;
}

.units .active {
  color:#27296d;
  cursor: default;
}
.units.active:hover {
  text-decoration: none;
}
.temperature {
  font-size: 40px;
  text-align: center;
  color: #27296d;
}
.col-2 {
  color: #27296d;
}

.code {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  color: #79c2d0;
}
